@charset "UTF-8";
@font-face{
	font-family: 'FontStencil';
	src: url("../_fonts/Bronx\ Bystreets.ttf");

}

body{
    background-color: #C0C0C0;
    font-family: Arial, sans-serif;
}

div#menu{
    margin: 20px auto 0 50px;
}

section#barra_cima{
    background-color: cornflowerblue;
    width: 950pt;
    height: 50px;
    padding: 5px 0px 5px 10px;
    position: absolute;
    
}

section#barra_cima h1{
    font-family: 'FontStencil';
    font-size: 50px;
    margin-top: 0px;
}

nav#menu{
    display: block;
    position: absolute;
    top: -5px;
    left: 500px;        
}

nav#menu li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(212, 196, 196);
    padding: 4px;
    margin: 2px;
    
}

section#barra_esquerda{
    background-color: orange;
    margin: -50px 20px 0px 30px;
    width: 70px;
    height: 950px;
    float: left;
    position: static;
  
}


div#interface{
    width: 1225px;
    height: 900px;
    margin: 20px auto 0 100px;
    background-color: #ffffff;
}

footer#rodape{
    text-align: center;
    margin: auto;
    padding: 10px;
}

footer#rodape p{
    font-family: Arial, sans-serif;
    font-size: 15px;
}

footer#rodape p.autor{
    font-size: 10px;
}

#logo{
    width: 35px;
    padding: 5px;
}